#main-menu {
    margin-top: 10px;
    padding: 0 10px;
}
#header {
    padding: 10px 0 0;
    border-bottom: 1px solid #000;
}
#header #menu-btn, #reload-btn {
    font-size: 2.2em;
}
#header #info-btn {
    font-size: 1.2em;
}
#page-title {
    background: #d4d5d8;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 1.3em;
    font-weight: bold;
}
.account-block {
    padding: 10px 5px;
}
.account-balance {
    padding: 5px 0;
    margin: 5px 0;
}
.deposit-input {
    display: inline-block;
    width: 50% !important;
    margin: 10px auto;
}
.file-grid {
    padding: 10px 5px;
    border-bottom: 1px solid #000;
}
.file-grid .media-left img {
    max-width: 100px;
}
.glyphicon-plus {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px;
}
.glyphicon-minus-sign {
    font-size: 2em;
    color: red;
}
.glyphicon-plus-sign {
    font-size: 1.2em;
    color: green;
}
